.main{
    margin:0;
    padding:0;
    background-image:url('/assets/Images/recipe.png');
    background-repeat: no-repeat;
    background-position:center;
    font-family:sans-serif;
    height:630px;
    width:1350px;
    margin-top: -32px;
}
.login-box{
    width:340px;
    height:460px;
    background: rgba(0,0,0,0.8);
    color:#fff;
    top:61%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    padding: 70px 30px;
    border-radius: 10px;
}
.avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left:calc(50% -50px);
    right: 110px;
    padding: 10px;
}
.h1{
   margin:0;
   padding:0 0 20px;
   text-align: center;
   font-size: 22px;
   top:10px;
}
.login-box p{
    margin:0;
    padding:0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"],input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color:#fff;
    font-size:16px;

}
.login-box input[type="submit"]
{
    cursor:pointer;
    background-color: #AE388B;
    color:white;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
     transform: translateX(-50%);

}

.btn{
    cursor:pointer;
    background-color: red;
    color:white;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
     transform: translateX(-50%); 
}
.signup{
    color:green;
    cursor: pointer;


}





