<!--fieldset>
    <legend>Login</legend>
    <p style="color:red">{{message.message}}</p>
    <form #loginForm="ngForm" class="form-group" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
        <input type="text" name="loginId" placeholder="enter login id" ngModel><br /><br />
        <input type="password" name="password" placeholder="enter password" ngModel><br />
        <button>Login</button>
        <br/><br/><br/>
        Not Registered?  <button (click)="navigate()">Sign Up</button>
    </form>

</fieldset-->


<html>

<head>
    <title>Login
    </title>
    <link rel="stylesheet" type="text/css" href="login.component.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
</head>

<body>
    <app-header></app-header>
    <div class="main">
        <!--div style="background-color: rgb(0,255,0,0.5);color: white;" class="text-center">
            <h2>{{message}}</h2>
        </div-->
        <div class="login-box">
            <img src="assets\Images\avatarblack.png" class="avatar">
            <h1 align='left'>Login Here</h1>
            <form #loginForm="ngForm" class="form-group" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
                <p>LoginId</p>
                <input type="text" name="loginId" placeholder="enter login id" required ngModel><br /><br />
                <p>Password</p>
                <input type="password" name="password" placeholder="enter password" required ngModel><br />
                <input type="Submit" name="submit" value="Login"><br /><br />

            </form>
            <button class="btn" (click)="signInWithGoogle()">SignIn with Google</button><br /><br />
            <span class="account">Don't have an account? <a class="signup" (click)="navigate()"><b> Register
                        Now</b></a></span>
        </div>
    </div>

</body>

</html>