/*.img{
     background-image:url('/assets/Images/Address.jpg');
     margin:0;
    padding:0;
    position: relative;
    background-repeat: no-repeat;
    background-position:center;
    font-family:sans-serif;
    height:680px;
    width:1535px;
    background-color: #ffccff;
    margin-top: -40px;
}*/
/*#btn{
    margin-bottom: -1100px;
    margin-left: 550px;
}*/
#form{
    border-bottom: 1px solid black;
    box-sizing:border-box;
    position:absolute;
    transform:translate(-50%,-50%);

}