<body>
  <div style="margin-left: 1150px;" id="google_translate_element"></div>
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #AE388B;">
    <img src="assets\Images\logo.png" style="margin-left: 30px;">
    <a class="navbar-brand" href="#"><i class="fa fa-home" aria-hidden="true" style="margin-left: 1000px;"></i></a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="nav-link btn" style="background-color: #AE388B;color: white;float: right;"
          (click)="login()"><b>Login</b></button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn" style="background-color: #AE388B;color: white;float: right;"
          (click)="register()"><b>Register</b></button>
      </li>
      <!--li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Dropdown link
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li-->
    </ul>
  </nav>
    
    
  <br>
</body>






<!--nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="register">Register</a>
    </li>
  </ul>
</nav-->
<!--div *ngIf="status">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active" *ngFor="let path of paths;index as i">
      <a class="nav-link" routerLink="{{path}}">{{names[i]}}</a>
    </li>
  </ul>
</div>
<div *ngIf="userStatus">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active" *ngFor="let path of paths;index as i">
      <a class="nav-link" routerLink="{{path}}">{{names[i]}}</a>
    </li>
  </ul>
</div>
<div *ngIf="adminStatus">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active" *ngFor="let path of paths;index as i">
      <a class="nav-link" routerLink="{{path}}">{{names[i]}}</a>
    </li>
  </ul>
</div-->