<body>
    <nav class="navbar navbar-expand-sm bg-danger navbar-danger">

        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="dropbtn btn btn-danger" (click)="addProd()" style="color:white">Add Product</button>
            </li>&nbsp;&nbsp;
            <li class="nav-item">
                <button class="dropbtn btn btn-danger" (click)="showProducts()" style="color:white;">View Products</button>
            </li>&nbsp;&nbsp;
            <li class="nav-item">
                <button class="dropbtn btn btn-danger" (click)="logout()" style="color:white;">Log Out</button>
            </li> 
        </ul>
    </nav>
    <br>
</body>